@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../BSX-3139_gene_trees_mol_dating/fonts/Regular/OpenSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../BSX-3139_gene_trees_mol_dating/fonts/Bold/OpenSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(../BSX-3139_gene_trees_mol_dating/fonts/BoldItalic/OpenSans-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../BSX-3139_gene_trees_mol_dating/fonts/Italic/OpenSans-Italic.woff) format('woff');
}
